{% for label, messages in app.flashes %}
	{% for message in messages %}
		<div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
			{% if app.user and app.user.isVerified == true %}
				{{message}}
			{% endif %}
		</div>
	{% endfor %}
{% endfor %}
