{% extends 'base.html.twig' %}

{% block title %}
    Éditer Redachef - {{ redachef.article }}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/css/iconographique.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.min.css">
{% endblock %}
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="{{ asset('javascript/app.js') }}" defer></script>
{% endblock %}
{% block body %}


    <div class="container mt-4 accueil-bg m-auto">
        {{ form(form) }}
    </div>
{% endblock %}
