tr.add-row {
    cursor: pointer;
    opacity: 0.92;
    transition: opacity 0.2s ease-in-out;
}

tr.add-row > td > span {
    font-size: 24px; 
    line-height: 0;
    font-weight: bolder;
    color: #aaa;
}

tr.add-row:hover {
    opacity: 0.97;
}

tr.add-row:active {
    opacity: 1;
}